
.question{
    font-weight: bold;
}
.unchosen{
    transition: all 0.15s;
    border-style: solid ;
    border-width: 2px;
}
.result{
  color: red;
  font-weight: bold;
}
.chosen{
    transition: all 0.15s;
    border-style: solid  ;
    border-width: 4px;

}
.option{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    padding-left:auto;
    padding-right:auto;
    margin-top:2px;
}
.text{
    font-weight: bold;
    font-size:18px;
    color:skyblue;
    text-align: center;
    margin: 3px 2px
}


#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}
#msform .nextStep{
    margin: 3px 2px;
    background: gray;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 10%;
    float: left;
    position: relative
}


#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}


#progressbar .error {
    color: red
}

#progressbar #question1:before {
    font-family: FontAwesome;
    content: "\f023"
}

#progressbar #question2:before {
    font-family: FontAwesome;
    content: "\f007"
}
#progressbar #question3:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar #question4:before {
    font-family: FontAwesome;
    content: "\f00c"
}
#progressbar #question5:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar #question6:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbar #question7:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbar #question8:before {
    font-family: FontAwesome;
    content: "\f09d"
}
#progressbar #question9:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue
}

h1{
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: #444;
    color: #fff;
}
.question{
    font-size: 30px;
    margin-bottom: 10px;
}
.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}
.answers label{
    display: block;
    margin-bottom: 10px;
}


.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.active-slide{
    opacity: 1;
    z-index: 2;
}
.quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
}


.wrongAnswer {
    list-style-type: none;
    font-size: 12px;
    width: 3%;
    float: left;
    position: relative;

    height: 10px;
    display: block;
    color: red;
    background: red;
    border-radius: 2%;
    margin: 0 auto 10px auto;
    padding: 2px
}
